.app {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
  
    margin: 0;
    padding: 0;
  
    letter-spacing: 0.03em;
  
    color: #212121;
  }  

.info {
    flex-direction: column;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    padding: 0 2em;
    padding-top: 3.2em;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.project-status {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-bottom: 0;
    align-items: flex-end;
    justify-content: flex-end;
}

.project {
    word-wrap: break-wrap;
}

.projects {
    cursor: pointer;
    flex-direction: column;
    font-weight: bold;
}

.title {
    padding: 0.75em;
    border-width: 1px;
    border-style: solid;
    border-color: #D51C21;
    border-radius: 8px 8px 0 0;
    background-color: #D51C21;
    font-weight: bold !important;
    color: white;
}

